variable "aws_account" {
  type = string
  description = "The AWS account ID"
  default = "123456789012"
}

variable "ssh_source_cidr" {
  type = string
  description = "Allow SSH from this CIDR only"
  default = "1.2.3.4/32"
}

variable "aws_profile" {
  type = string
  default = "demo_role"
}

variable "ami_mask" {
  type = string
  default = "demo-ami-*"
}
