{% extends "layout.jinja2" %}

{% block title %}TODO new{% endblock %}

{% block content %}
<p>
    <form method="POST" action="{{ request.route_url('create') }}">
        <dl>
            <dt><label for="title">Title</label></dt>
            <dd><input type="text" name="title" id="title"/></dd>
        </dl>

        <button type="submit" class="btn btn-warning">
            <i class="bi bi-plus-square"></i> Add
        </button>
    </form>
</p>

<p>
    <a href="{{ request.route_url('list') }}">Back</a>
</p>
{% endblock %}