{% extends "layout.jinja2" %}

{% block title %}TODO list{% endblock %}

{% block style %}
.done {
    text-decoration: line-through;
}
{% endblock %}

{% block content %}
<ul>
    {% for todo in todos %}
    <li>
        <a
            href="{{ request.route_url('details', id=todo.id) }}"
            {% if todo.done %}
                class="done"
            {% endif %}
        >
            {{ todo.title }}
        </a>
    </li>
    {% endfor %}
</ul>

<p>
    <a href="{{ request.route_url('new') }}">New</a>
</p>
{% endblock %}